@page
@model Admin.AdminIndex

@{
    ViewData["Title"] = "Админка";
}

<ul class="nav navbar-light bg-white bg-nav border-bottom box-shadow mb-3 justify-content-center sticky-top">
    <li class="nav-item">
        <a class="nav-link" href="vokzals">Вокзалы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="routes">Маршруты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="trips">Рейсы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="tickets">Проданные билеты</a>
    </li>
</ul>