@page
@model BusStationWeb.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<div>
    <h4>Билеты</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Дата покупки
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            ФИО
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.FIO)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Price)
        </dd>
        <dt class="col-sm-2">
            Ваш уникальный номер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./AdminIndex">Вернуться</a>
</div>