html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Contacts address,div {
    font-size: 18px;
}

main {
    background: url("../img/karta.png") no-repeat fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: calc(100vh - 155px);
}
