@page
@model ContactsModel
@{
    ViewData["Title"] = "Контакты";
}

<div id="Contacts" class="text-center wrp pb-3">
    <h3 class="display-4">Автовокзал г.Тирасполь</h3>
    <address>
        г. Тирасполь,
        ул. Ленина 59
    </address>
    <div><a href="tel:+373053394331">+373 (533) 9-43-31</a></div>
    <div>
        Режим работы: <br />
        Ежедневно: 5:00 - 20:00 <br />
        Выходные и праздничные дни: 5:00 - 21:30
    </div>
</div>
