@page
@model IndexModel
@{
    ViewData["Title"] = "Автовокзал Тирасполь";
}

<div class="text-center">
    <h1 class="display-4">Автовокзал Тирасполь</h1>
    <p>Тут вы можете выбрать интересующий вас маршрут и забронировать билет.</p>
</div>
