@page
@model BusStationWeb.Pages.Admin.Vokzals.CreateModel

@{
    ViewData["Title"] = "Создание вокзала";
}

@if (Model.TypeModel == "citie")
{
    <h4>Вокзал</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Населенный пункт</label>
                    <div class="mb-3">
                        <select class="form-select" asp-for="Contact.CitieId" asp-items="@Model.Cities" onchange="ChangeCity(this)"></select>
                        <input asp-for="CityName" class="form-control" style="display: none;" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Адрес</label>
                        <input asp-for="Contact.Address" class="form-control" />
                        <span asp-validation-for="Contact.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Телефон</label>
                        <input asp-for="Contact.Phone" class="form-control" />
                        <span asp-validation-for="Contact.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Рабочие дни</label>
                        <input asp-for="Contact.WorkDays" class="form-control" />
                        <span asp-validation-for="Contact.WorkDays" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Выходные дни</label>
                        <input asp-for="Contact.Weekends" class="form-control" />
                        <span asp-validation-for="Contact.Weekends" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" asp-route-type="citie" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-page="./Index">Вернуться</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}